/* 
    Author schemabuoi
    Author kiddo
*/

.jfx-slider > .track{
     -fx-background-color:#535353;
}
.jfx-slider > .colored-track{
     -fx-background-color:#403998;
}
.jfx-slider > .thumb{
     -fx-background-color:#403998;
}
.jfx-slider > .animated-thumb{
     visibility:hidden;
}
